*.d
*.o
/.pytest_cache/
/__pycache__/
/s3ar
/s3ar-get
/s3ar-put
/s3ar-delete
/s3ar-list
/s3ar-copy
/test-error
/test-get-retry
/test-headers-alloc
/test-delete-batch
/test-log-signal
/test-signal-io
/test-put-cancel
/test-transform
/test-transform-restore
/test-uri-encode
/test-log-escape
/libs3.a
/liblog.a
/tests/__pycache__/

/test-selection
/test-request-headers
